:root {
    --primary-color: rgb(114, 165, 201);
    --secondary-color: #e8ddb5;
    --accent-color-light: #0c8162;
    --accent-color-dark: #106950;
    --heading-font: "Merriweather";
    --paragraph-font: "Poppins";
    /* color pallete link https://coolors.co/e8ddb5-5ca0d1-0c8162-106950 */
}

body {
    max-width: 80%;
    position: relative;
    left: 10%;
}
header {
    display:grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}
.logo-flex-box {
    grid-area: 1/1/4/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    border: 1px solid black;
}
.nav-links {
    display: flex;
    background-color: var(--primary-color);
    border: 1px solid black;
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: center;
}
.nav-links a {
    flex: 1 1 100%;
}
main {
    text-align: center;
}
.hero {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 10px auto;
}
.hero img {
    width: 100%;
    height: auto;
    grid-area: 1/1/4/2;
}
.trip-link-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3/1/4/2;
}
.trip-link {
    display: flex;
    justify-content: center;
    width: 10%;
    border: 1px solid black;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px black;
    color: var(--accent-color-dark);
}
h1 {
    grid-area: 1/1/2/2;
    font-family: "Merriweather";
    color: #fff;
    text-align: center;
    background-color: #106950ce;
    z-index: 1;
    width: 100%;
}
.blurb-box {
    grid-template-columns: 3fr 1fr;
    background:var(--primary-color);
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    opacity: 0.85;
    padding: 1%;
    width: 90%;
}
.blurb-grid {
    display: grid;
    grid-template: 5% 90% 5% / 3fr 1fr;
}
.blurb-flex {
    display: flex;
    justify-content: center;
}
.blurb {
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    color:#000;
}
.client {
    height: 90%;
    width: auto;
}
.sub-form {
    display: block;
    text-align: center;
}
.subscription {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 25%;
    padding: 10px;
    flex-wrap: wrap;
}
h2 {
    color: var(--primary-color);
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #106950;
}
.reviews {
    display:flex;
    justify-content: space-around;
    flex: 1;
}
.reviews img {
    width: 100%;
    height: auto;
}
.samples {
    display:flex;
    justify-content: space-around;
    flex: 1;
}
.samples img {
    width: 150px;
    height: auto;
}
footer {
    display: flex;
    justify-content: space-evenly;
}
.copywrite {
    display: flex;
}
.socials {
    display: flex;
    align-items: center;
}
a:link {
    text-decoration: none;
}